html{
    color: #000000 ;
    background-color: #F4F4F4;
}

.brand-title {
    font-family: 'Indie Flower', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.chivo {
    font-family: 'Chivo', sans-serif;
    //font-weight: 300;
}

.playfair {
    font-family: 'Playfair Display', serif;
    // font-weight: 700;
    font-style: italic;
}

.wrap-about p {
    letter-spacing: 1px;
}

/* footer {
    box-shadow: 0 0 2px #e3e3e3;
} */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.1);
  border-radius: .25rem;
}

thead tr {
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: var(--moon-gray);
}
